<!DOCTYPE html>
<html>
<head>
  <title>Contentify</title>
  <%= stylesheet_link_tag    "contentify/application", media: "all" %>
  <%= javascript_include_tag "contentify/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
