<ul id="nav-mobile" class="side-nav fixed" style="overflow: auto; left: 0px;">

  <li class="logo">
    <a id="logo-container" href="#!" class="brand-logo pad-top-10">

    </a>
  </li>

  <li class="">
    <div class="row valign-wrapper mgn-bottom-0">
      <div class="col s9">
        <a href="#!" class="waves-effect pad-0">ユーザ</a>
      </div>
      <div class="col s3">
        <i class="material-icons valign">people</i>
      </div>
    </div>
  </li>

  <li class="">
    <div class="row valign-wrapper mgn-bottom-0">
      <div class="col s9">
        <a href="<%= categories_path %>" class="waves-effect pad-0">カテゴリ</a>
      </div>
      <div class="col s3">
        <i class="material-icons valign">list</i>
      </div>
    </div>
  </li>

  <li class="">
    <div class="row valign-wrapper mgn-bottom-0">
      <div class="col s9">
        <a href="<%= categories_path %>" class="waves-effect pad-0">記事</a>
      </div>
      <div class="col s3">
        <i class="material-icons valign">create</i>
      </div>
    </div>
  </li>




</ul>
