<ul id="nav-mobile" class="side-nav fixed" style="overflow: auto; left: 0px;">

  <li class="logo">
    <ul class="collection">
      <li class="collection-item avatar">
        <div class="user-information"><i class="medium material-icons">person</i></div>
        <span class="title"><%= link_to(current_user.name, edit_user_path(current_user)) %></span>
      </li>
    </ul>
  </li>

  <li class="">
    <div class="row valign-wrapper mgn-bottom-0">
      <div class="col s9">
        <%= link_to 'ユーザ', users_path, class: 'waves-effect pad-0' %>
      </div>
      <div class="col s3">
        <i class="material-icons valign">people</i>
      </div>
    </div>
  </li>

  <li class="">
    <div class="row valign-wrapper mgn-bottom-0">
      <div class="col s9">
        <%= link_to 'カテゴリ', categories_path, class: 'waves-effect pad-0' %>
      </div>
      <div class="col s3">
        <i class="material-icons valign">list</i>
      </div>
    </div>
  </li>

  <li class="">
    <div class="row valign-wrapper mgn-bottom-0">
      <div class="col s9">
        <a href="#!" class="waves-effect pad-0">記事</a>
      </div>
      <div class="col s3">
        <i class="material-icons valign">create</i>
      </div>
    </div>
  </li>




</ul>
