/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "materialize/components/color";
$primary-color: color("grey", "darken-4") !default;

@import "materialize";

$wine-red: #660000;

body {
  font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, "Roboto", sans-serif;
  text-align: inherit;
  line-height: 24px;
  word-spacing: 1px;
  letter-spacing: 0.3px;
  font-weight: 300;
  font-style: normal;
  color: #404040;
  font-size: 14px;
  background-color: #F0F0F0;
}

.pad-0 {
  padding: 0 !important;
}

.pad-top-10 {
  padding-top: 10px !important;
}

.pad-top-20 {
  padding-top: 20px !important;
}

.pad-top-1rem {
  padding-top: 1rem !important;
}

.pad-top-5rem {
  padding-top: 5rem !important;
}

.pad-v-20 {
  padding-top:    20px !important;
  padding-bottom: 20px !important;
}

.mgn-top-0 {
  margin-top: 0 !important;
}

.mgn-top-5 {
  margin-top: 5px !important;
}

.mgn-bottom-0 {
  margin-bottom: 0 !important;
}

.valign-top {
  vertical-align: top !important;
}

.wine-red {
  background-color: $wine-red !important;
}

.ovf-hidden {
  overflow: hidden;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

main {
  flex: 1 0 auto;
}

.side-nav a, div {
  font-size: 16px !important;
}

.side-nav li.no-padding:hover {
  background-color: white;
}

.side-nav .collapsible li a:hover {
  background-color: #ddd;
}

.collapsible-header {
  display: flex;
  cursor: pointer;
  padding: 0;
  min-height: 3rem;
  line-height: 3rem;
}

.user-information {
  position: absolute;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}
